{% extends 'inline_modal.html' %}
{% block modal_class %}Account{% endblock %}
{% block title %}Account{% endblock %}
{% block header %}Account{% endblock %}
{% block content %}
<form method="POST" data-vars='{{ vars|tojson|safe }}' data-errors='{{ errors|tojson|safe }}'>
    <div class="mui-textfield mui-textfield--float-label">
        <input name="first_name" type="text" required>
        <label>First Name</label>
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        <input name="last_name" type="text" required>
        <label>Last Name</label>
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        <input name="email" type="email" required>
        <label>Email</label>
    </div>
    <div class="actions">
        <a href="/" class="mui-btn">Cancel</a>
        <button type="submit" class="mui-btn mui-btn--primary mui-btn--raised">Update</button>
    </div>
</form>
{% endblock %}
