.modal {
    background-color: white;
    margin: 100px auto 10px auto;
    min-height: 300px;
    width: 390px;
}

@media (max-width: 400px) {
    .modal {
        width:310px;
    }
}

@media (max-height: 480px) {
    .modal {
        margin: 50px auto 10px auto;
    }
}

@media (max-height: 350px) {
    .modal {
        margin: 10px auto;
    }
}

.modal h2 {
    padding: 10px;
}

.modal .body {
    padding: 10px;
}

.modal .header {
    background-color: #78909C;
    color:white;
    padding:15px;
    margin:-15px -15px 15px -15px;
}

.modal .header h1 {
    margin:0;
}

.modal .actions a {
    float: right;
}

.modal .actions a.link {
    float: right;
    line-height: 48px;
}

.modal .footer {
    border-top: 1px solid #ccc;
    margin-top:10px;
    padding-top:10px;
    text-align:center;
}

