<div class="mui-col-xs-12 mui-col-xs-offset-0 mui-col-md-6 mui-col-md-offset-3">
    <h1>Change Password</h1>
	<form name="changePassword" ng-submit="changePassword.$valid && $ctrl.changePassword($ctrl.data)" novalidate ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }">
		<div class="mui-textfield">
			<input name="password" type="password" ng-model="$ctrl.data.password" required="required">
			<label for="site-title">Password</label>
            <div class="mui--text-danger" ng-show="changePassword.$submitted || changePassword.password.$touched">
                <span ng-show="changePassword.password.$error.required"><i class="material-icons">error</i> Tell us your password.</span>
            </div>
		</div>
		<div class="mui-textfield">
			<input name="confirmPassword" type="password" ng-model="$ctrl.data.confirmPassword" required="required">
			<label for="site-title">Confirm Password</label>
            <div class="mui--text-danger" ng-show="changePassword.$submitted || changePassword.confirmPassword.$touched">
                <span ng-show="changePassword.confirmPassword.$error.required"><i class="material-icons">error</i> Confirm your password.</span>
                <span ng-show="$ctrl.mismatch"><i class="material-icons">error</i> Passwords do not match.</span>
            </div>
		</div>
		<div class="mui--text-center">
			<button ng-click="$ctrl.cancel()" class="mui-btn mui-btn--flat mui-btn--accent">
				Cancel
			</button>
			<button type="submit" class="mui-btn mui-btn--flat mui-btn--accent">
                Update
			</button>
		</div>
    </form>
</div>
