{% extends 'base.html' %}
{% block body %}
<div class="page-login mui-panel">
    <form>
        <div class="mui-textfield mui-textfield--float-label">
            <input type="text">
            <label>Email</label>
        </div>
        <div class="mui-textfield mui-textfield--float-label">
            <input type="password" value="">
            <label>Password</label>
        </div>
        <button type="submit" class="mui-btn mui-btn--primary mui-btn--raised">Login</button>
        <br/>
        <a class="" href="#">Forgot Password?</a>
    </form>
</div>
{% endblock %}
