{% extends 'inline_modal.html' %}
{% block modal_class %}signup{% endblock %}
{% block title %}Change Password{% endblock %}
{% block header %}Change Password{% endblock %}
{% block content %}
<form method="POST" data-vars='{{ vars|tojson|safe }}' data-errors='{{ errors|tojson|safe }}'>
    <div class="mui-textfield mui-textfield--float-label">
        <input name="password" type="password" required>
        <label>Password</label>
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        <input name="confirm_password" type="password" required>
        <label>Confirm Password</label>
    </div>
    <div class="actions">
        <a href="/" class="mui-btn">Cancel</a>
        <button type="submit" class="mui-btn mui-btn--primary mui-btn--raised">Change Password</button>
    </div>
</form>
{% endblock %}
