<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    {% include 'swagger-ui-css.html' %}
    {% include 'swagger-ui-libs.html' %}
    <script type="text/javascript">
        $(function () {
            window.swaggerUi = new SwaggerUi({
                url: "{{ specs_url }}",
                validatorUrl: "{{ config.SWAGGER_VALIDATOR_URL }}" || null,
                dom_id: "swagger-ui-container",
                supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
                onComplete: function(swaggerApi, swaggerUi){
                    if(typeof initOAuth == "function") {
                        {% if config.SWAGGER_UI_OAUTH_CLIENT_ID -%}
                            initOAuth({
                                clientId: "{{ config.SWAGGER_UI_OAUTH_CLIENT_ID }}",
                                realm: "{{ config.SWAGGER_UI_OAUTH_REALM }}",
                                appName: "{{ config.SWAGGER_UI_OAUTH_APP_NAME }}"
                            });
                        {%- endif %}
                    }
                    $('pre code').each(function(i, e) {
                        hljs.highlightBlock(e)
                    });
                },
                onFailure: function(data) {
                    log("Unable to Load SwaggerUI");
                },
                jsonEditor: {{ config.SWAGGER_UI_JSONEDITOR | default(False) | string | lower }},
                docExpansion: "{{ config.SWAGGER_UI_DOC_EXPANSION | default('none') }}"
            });
            window.swaggerUi.load();

            var setToken = function(location, token) {
                $('#settings :input[name="location"][value="' + location + '"]').attr('checked', true);
                $('#settings :input[name="token"]').val(token);

                if(token && token.trim() != "") {
                    window.localStorage.setItem('location', location);
                    window.localStorage.setItem('token', token);
                    if (location == 'query') {
                        swaggerUi.api.clientAuthorizations.add("token", new SwaggerClient.ApiKeyAuthorization("token", token, "query"));
                    } else if (location == 'header') {
                        swaggerUi.api.clientAuthorizations.add("basic", new SwaggerClient.PasswordAuthorization(token, ''));
                    }
                }
            };

            // add a new SwaggerClient.ApiKeyAuthorization when the api-key changes in the ui.
            $('#header button').on('click', function(e) {
                setToken($('#settings :input[name="location"]:checked').val(), $('#settings :input[name="token"]').val());
                e.preventDefault();
                window.location.reload();
                return false;
            });

            setToken(window.localStorage.getItem('location'), window.localStorage.getItem('token'));
        });
    </script>
</head>

<body class="swagger-section">
    <div id='header'>
        <div class="swagger-ui-wrap">
            <form id="settings" style="text-align:right;">
                <label>Token:</label>
                <label><input type="radio" name="location" value="query"> query</label>
                <label><input type="radio" name="location" value="header" checked="checked"> header</label>
                <input name="token" type="text"/>
                <button>save</button>
            </form>
        </div>
    </div>
    <div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>
    <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</body>
</html>
