{% extends 'emails/base.html' %}

{% block content %}
Hello {{ user.first_name }},
<br/><br/>
We have received a request to reset the password on your account.
<br/><br/>
Please use the temporary password below to sign in.
<br/><br/>
Username: {{ user.email }}<br/>
Password: {{ password }}
<br/><br/>
To login, visit {{ url_for('view.auth.login', _external=True) }}
<br/><br/>
If you are not able to click on the link, you can also copy it and paste it in your browser.
<br/><br/>
If you have any questions about this, please reply to this email.
<br/><br/>
Best regards,<br/>
Team Todo
{% endblock %}
