{% extends 'inline_modal.html' %}
{% block modal_class %}signup{% endblock %}
{% block title %}Sign Up{% endblock %}
{% block header %}Sign Up{% endblock %}
{% block content %}
<form method="POST" data-vars='{{ vars|tojson|safe }}' data-errors='{{ errors|tojson|safe }}'>
    <div class="mui-textfield mui-textfield--float-label">
        <input name="first_name" type="text" required>
        <label>First Name</label>
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        <input name="last_name" type="text" required>
        <label>Last Name</label>
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        <input name="email" type="email" required>
        <label>Email</label>
    </div>
    <div class="mui-textfield mui-textfield--float-label">
        <input name="password" type="password" required>
        <label>Password</label>
    </div>
    <div class="actions">
        <a href="{{ url_for('view.auth.login', next=request.args.get('next')) }}">Already have an account?</a>
        <button type="submit" class="mui-btn mui-btn--primary mui-btn--raised">Sign Up</button>
    </div>
</form>
{% endblock %}
