/* RESET */

ul {
		list-style: none !important;
}

a {
		text-decoration: none !important;
}

a:focus {
		outline: none !important;
}
/* TEMPLATE */

html,
body {
		height: 100%;
}

html,
body,
input,
textarea,
buttons {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

header {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 2;
}

header .mui-dropdown {
    bottom: -33px;
}

header .mui-dropdown__menu .material-icons {
    margin-right: 5px;
}

header .mui-dropdown__menu>li>a {
    color: rgba(0,0,0,.87);
}

header ul.mui-list--inline {
	margin-bottom: 10px;
}

header a,
header a:hover,
header a:visited {
		color: white;
		font-weight: 400;
}

#content-wrapper {
    padding-top: 100px;
}

/* CUSTOM */

body {
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		cursor: default;
		background-color: #fff;
}

.user-context {
    margin-top:33px;
    position:fixed;
	z-index: 999;
}

.icon-button:focus {
		outline-style: none;
}

.icon-button {
		display: block;
		width: 36px;
		height: 36px;
		padding: 6px;
		border: none;
		background: transparent;
		border-radius: 100%;
		transition: background .25s;
}

.icon-button.select:hover {
		background: rgba(0, 0, 0, 0.05);
}

.icon-button.delete:hover {
		background: rgba(255, 90, 146, 0.1);
}

.icon-button.info {
		border: none;
		background: transparent;
		color: rgba(0, 0, 0, .5);
		color: #fff;
		padding-left: 5px;
		;
}

.icon-button.disabled {
		opacity: .54;
}

.modal {
		position: absolute;
		top: 150px;
		width: 100%;
		margin: 0 auto;
		z-index: 1;
}

.modal p {
		padding: 10px;
}

h3.mui--text-center {
		padding: 15px;
}

.modal h3.mui--text-center {
		padding: 5px;
		margin: 0px;
}

.modal p a,
.modal p a:hover,
.modal p a:visited {
		color: #2196F3;
}

.loading {
    height: 400px;
    background: url('loading.gif') center center no-repeat;
}

tr button.delete {
    visibility: hidden;
}

tr:hover button.delete {
    visibility: visible;
}

.mui-table--bordered tbody tr:last-child td {
    border-bottom:none;
}

.need div {
    margin-bottom:0;
}

.need td {
    vertical-align: bottom;
}

.todo-list form {
    margin-bottom: 0;
}

.todo-list .summary {
    line-height: 43px;
}

@media (max-width:1168px) {
    .todo-list .mui-col-lg-3 {
        width:100%;
    }

    .todo-list .mui-col-lg-6 {
        width:100%;
    }
}

.todo-list .filters {
    margin-bottom:0;
}

.todo-list .mui-textfield {
    margin-bottom:0;
    padding-top:0;
}

.todo-list tbody tr label {
    display: block;
}

.todo-list tbody tr form {
    display: none;
}

.todo-list tbody tr.editing form {
    display: block;
}

.todo-list tbody tr.editing label {
    display: none;
}

.todo-list tr.completed i,
.todo-list tr.completed label {
    color: #d9d9d9;
}

.todo-list tr.completed label {
    text-decoration: line-through;
}

.material-icons {
    vertical-align: middle;
}

input.ng-invalid {
    border-color: #F44336;
}